@use '../styles/mixins.scss' as mx;

.housingInfos {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @include mx.media-max("desktop") {
        margin: 20px 20px 0;
    }     

    @include mx.media-max("phone") {
        flex-direction: column;
    }   

    &__tags {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    &__rating {
        margin-top: 20px;

        @include mx.media-max("phone") {
            margin-top: 0;
            width: 98px;
        }  
        
    }

    &__Host__Rating {
        @include mx.media-max("phone") {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }  
    }   
}

.housingDropdowns {
    display: flex;
    gap: 76px;

    @include mx.media-max("phone") {
        display: flex;
        flex-direction: column;
        gap: 0;
    }  

    &__container {
        width: 50%;

        @include mx.media-max("phone") {
            width: 100%;
        } 
    }

    h3 {
        font-size: 18px;

        @include mx.media-max("phone") {
            font-size: 13px;
        } 
    }
}