@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    margin-top: 40px;
    background-color: $red;

    @include media-max("desktop") {
        margin: 30px 20px 0;
    }

    h3 {
        margin: 0;
        color: $white;
        font-size: 24px;

        @include media-max("tablet") {
            font-size: 18px;
        }

        @include media-max("phone") {
            font-size: 13px;
        }
        
    }

    img {
        width: 32px;
        height: 32px;
        transition: transform 0.3s ease;

        &.rotated {
            transform: rotate(-180deg);
        }

        @include media-max("phone") {
            width: 20px;
            height: 20px;
        }
    }
}

.options {
    overflow: hidden;
    max-height: 0;
    // opacity: 0;
    background-color: $gallerybg;
    border-radius: 0px 0px 5px 5px;
    transition: max-height 0.4s ease, opacity 0.4s ease;

    @include media-max("desktop") {
        margin: 0 20px;
    }

    p {
        margin: 0;
        padding: 20px;

        @include media-max("phone") {
            font-size: 12px;
        }
    }

    ul {
        margin: 0;
        padding: 20px;

        li {
            list-style: none;
        }
    }
}

.options.visible {
    max-height: 500px;
    // opacity: 1;
}