@use '../styles/variables.scss' as v;
@use '../styles/mixins.scss' as mx;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 68px;
    margin: 40px 0;

    @include mx.media-max("desktop") {
        margin: 40px 20px;
    }

    @include mx.media-max("phone") {
        max-height: 48px;
        margin: 20px;

        img {
            width: 145px;
        }
    }

    &__nav {
        display: flex;
        gap: 57px;
        font-size: 24px;
        font-weight: 500;
        line-height: 143%;

        @include mx.media-max("phone") {
            font-size: 12px;
            text-transform: uppercase;
            gap: 30px;
        }

        a {
        color: v.$black;
        text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .active {
            text-decoration: underline;
        }
    }
}