@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.hostContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    span {
        font-size: 18px;
        text-align: right;
        color: $red;
        white-space: normal;
        word-break: break-word;

        @include media-max("phone") {
            font-size: 12px;
        }  
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50px;

        @include media-max("phone") {
            width: 32px;
            height: 32px;
        }  
    }
}