@use '../styles/variables.scss' as v;
@use '../styles/mixins.scss' as mx;

.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    span {
        font-size: 18px;
        text-align: right;
        color: v.$red;
        white-space: normal;
        word-break: break-word;

        @include mx.media-max("phone") {
            font-size: 12px;
        }  
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50px;

        @include mx.media-max("phone") {
            width: 32px;
            height: 32px;
        }  
    }
}