@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.housingTitle {
        margin: 0;
        font-size: 36px;
        font-weight: 500;
        color: $red;

        @include media-max("phone") {
            font-size: 18px;
        } 
}

.housingLocation {
    font-size: 18px;

    @include media-max("phone") {
        font-size: 14px;
    } 
}